@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  font-family: "Noto Sans KR", sans-serif, "Roboto", sans-serif;
}

#header {
  width: 100%;
  height: 330px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #c9c9c9;
}

.header_inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header_inner_top {
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header_inner_middle {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  position: relative;
}
.header_inner_middle .middle_wrap_big {
  width: 100%;
}
.header_inner_middle .middle_wrap {
  width: 1200px;
  margin: 0 auto;
  height: 60%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_inner_middle .inputbox {
  width: 560px;
  height: 45px;
  position: relative;
}
.header_inner_middle input {
  width: 560px;
  height: 45px;
  font-size: 15px;
  border: 1px solid #5055b1;
  border-radius: 25px;
  outline: none;
  padding-left: 30px;
  background: #fff;
}
.header_inner_middle input:focus {
  color: #000;
}
.header_inner_middle .search {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 20px;
  background-image: url(../img/btn_header_search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}
.header_inner_middle .customer_box_wrap {
  width: 1200px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.header_inner_middle .customer_box_wrap .customer_box {
  width: 320px;
  height: 30px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif, "Roboto", sans-serif;
  font-weight: 400;
  color: #595959;
}
.header_inner_middle .customer_box_wrap .customer_box .customer_list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.header_inner_bottom {
  left: 50%;
  transform: translate(-50%, 0);
  width: 1200px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  width: 174px;
  height: 92px;
  background-image: url(../img/img_logo_kyobo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.iconbox {
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.iconbox img {
  max-height: 100%;
}
.iconbox .my {
  filter: drop-shadow(0px 4px 4px #0c7700);
}

.nav_wrap {
  width: 100%;
  height: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_wrap .small_menu {
  width: 50px;
  height: 50px;
  background-image: url(../img/btn_anb_open.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav_wrap .nav_list {
  width: 55%;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif, "Roboto", sans-serif;
  font-weight: 500;
  color: #000;
}
.nav_wrap .nav_list .nav_list_item {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.nav_wrap .nav_list_sub {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_wrap .nav_list_sub .nav_list_item {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif, "Roboto", sans-serif;
  font-weight: 400;
  color: #595959;
}
.nav_wrap .nav_list_sub .nav_list_item .add_img {
  width: 20px;
  height: 20px;
  background-image: url(../img/btn_gnb_service_more.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav_wrap .nav_list_sub .nav_list_item_img {
  width: 40%;
  height: 100px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: center;
}

.footer_nonbg {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.footer_nonbg .footer_top {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_nonbg .footer_top .footer_content {
  width: 45%;
  height: 50px;
  display: flex;
  align-items: center;
}
.footer_nonbg .footer_top .more {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.footer_nonbg .footer_top .more img {
  width: 10px;
  height: 10px;
}
.footer_nonbg .footer_top h3 {
  margin-right: 20px;
  font-size: 16px;
}
.footer_nonbg .footer_top p {
  font-size: 15px;
}
.footer_nonbg .footer_bottom {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
}
.footer_nonbg .footer_bottom .footer_bottom_top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_nonbg .footer_bottom .footer_bottom_top .footer_logo {
  margin-top: 20px;
  max-height: 100%;
}
.footer_nonbg .footer_bottom .footer_bottom_top .link_icon {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 50px;
}
.footer_nonbg .footer_bottom .footer_bottom_top .link_icon img {
  max-height: 100%;
}
.footer_nonbg .footer_bottom .footer_bottom_else {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.footer_nonbg .footer_bottom .footer_bottom_else .footer_bottom_else_left {
  width: 70%;
  height: 100%;
}
.footer_nonbg .footer_bottom .footer_bottom_else .footer_bottom_else_left .else {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
.footer_nonbg .footer_bottom .footer_bottom_else .footer_bottom_else_left .else .else_list {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}
.footer_nonbg .footer_bottom .footer_bottom_else .footer_bottom_else_left .else .else_list li:nth-of-type(5) {
  text-decoration: underline;
  font-weight: bold;
}
.footer_nonbg .footer_bottom .footer_bottom_else .footer_bottom_else_left .else p {
  font-size: 14px;
  margin-bottom: 3px;
}
.footer_nonbg .footer_bottom .footer_bottom_else .footer_bottom_else_left .else .copyright {
  font-size: 14px;
  color: #595959;
}

.footer_nonbg:last-of-type {
  border: none;
}

#footer_bg {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #f4f4f4;
}
#footer_bg .footer_middle {
  width: 1200px;
  height: 400px;
  padding-top: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#footer_bg .footer_middle .footer_middle_contentbox {
  width: 210px;
  height: 250px;
  border-right: 1px solid #c9c9c9;
}
#footer_bg .footer_middle .footer_middle_contentbox .category {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#footer_bg .footer_middle .footer_middle_contentbox .category h2 {
  font-size: 17px;
  margin-right: 10px;
}
#footer_bg .footer_middle .footer_middle_contentbox .category img {
  width: 18px;
  height: 18px;
}
#footer_bg .footer_middle .footer_middle_contentbox .category_list li {
  line-height: 35px;
  font-size: 15px;
  color: #595959;
}
#footer_bg .footer_middle .footer_middle_contentbox:last-of-type {
  border: none;
  padding: 0;
}

#intro {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 120px;
}
#intro .intro_top {
  width: 100%;
  height: auto;
  display: flex;
  font-size: 14px;
  margin-bottom: 50px;
}
#intro .intro_top .home {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(../img/ico_breadcrumb_home@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 4px;
}
#intro .intro_top .link {
  height: 30px;
  width: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#intro .intro_top .link img {
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
#intro .intro_top .link p {
  color: #767676;
}
#intro .intro_top .click_list {
  background-color: rgb(248, 248, 248);
  border: 1px solid #767676;
  border-radius: 10px;
  z-index: 1;
}
#intro .intro_top .one {
  width: auto;
  height: auto;
  padding: 15px 30px;
  position: absolute;
  right: 0px;
  top: 35px;
  display: none;
}
#intro .intro_top .one li {
  line-height: 30px;
  color: #292929;
}
#intro .intro_top .two {
  display: flex;
  align-items: flex-start;
  width: 500px;
  height: 340px;
  position: absolute;
  padding: 15px 30px;
  left: 0px;
  top: 35px;
  display: none;
}
#intro .intro_top .two li {
  line-height: 30px;
  color: #292929;
}
#intro .intro_top .two .list_box {
  margin-right: 30px;
  border-right: 1px solid #b9b9b9;
  padding-right: 25px;
  height: 90%;
}
#intro .intro_top .two .list_box:last-of-type {
  border: none;
}
#intro .intro_top .three {
  width: 340px;
  height: 340px;
  padding: 15px 0;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: none;
}
#intro .intro_top .three li {
  line-height: 30px;
  color: #292929;
}
#intro .intro_top .three .list_box {
  width: 120px;
  border-right: 1px solid #b9b9b9;
  padding-right: 25px;
}
#intro .intro_top .three .list_box:last-of-type {
  width: 145px;
  border: none;
  padding-left: 24px;
}
#intro .intro_top .four {
  width: 200px;
  height: auto;
  padding: 15px 30px;
  position: absolute;
  left: 0px;
  top: 35px;
  display: none;
}
#intro .intro_top .four li {
  line-height: 30px;
  color: #292929;
}
#intro .intro_inner {
  width: 1200px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#intro .intro_inner .intro_left {
  width: 30%;
  height: auto;
  margin-top: 60px;
}
#intro .intro_inner .intro_left p {
  display: inline;
  color: #292929;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  font-weight: 500;
  vertical-align: top;
}
#intro .intro_inner .intro_left h5 {
  color: #000;
  font-size: 24px;
  line-height: 23px;
  letter-spacing: -0.01em;
  font-weight: 500;
  margin: 18px 0;
}
#intro .intro_inner .intro_left .from {
  color: #767676;
  line-height: 22px;
  letter-spacing: -0.01em;
}
#intro .intro_inner .intro_left h6 {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.01em;
}
#intro .intro_inner .intro_left .best {
  display: flex;
  align-items: center;
  margin-top: 35px;
}
#intro .intro_inner .intro_left .best .crown {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-image: url(../img/ico_best_crown@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#intro .intro_inner .intro_left .best span {
  font-weight: bold;
}
#intro .intro_inner .intro_left .index_icon {
  width: 100%;
  height: 140px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#intro .intro_inner .intro_left .index_icon .index_left {
  width: 40%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#intro .intro_inner .intro_left .index_icon .index_left .top {
  width: auto;
  height: 30%;
  display: flex;
}
#intro .intro_inner .intro_left .index_icon .index_left .top img {
  height: 80%;
  margin-right: 5px;
}
#intro .intro_inner .intro_left .index_icon .index_left .top h3 {
  color: #4dac27;
}
#intro .intro_inner .intro_left .index_icon .index_left .middle {
  width: auto;
  height: 25%;
  display: flex;
}
#intro .intro_inner .intro_left .index_icon .index_left .middle img {
  height: 25px;
}
#intro .intro_inner .intro_left .index_icon .index_left .bottom {
  width: auto;
  height: 25%;
  text-align: center;
}
#intro .intro_inner .intro_left .index_icon .index_left .bottom p {
  font-size: 15px;
}
#intro .intro_inner .intro_left .index_icon .index_bar {
  width: 1px;
  height: 70%;
  background-color: #b9b9b9;
}
#intro .intro_inner .intro_left .index_icon .index_right {
  width: 40%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#intro .intro_inner .intro_left .index_icon .index_right .top {
  width: auto;
  height: 30%;
  padding-left: 5px;
}
#intro .intro_inner .intro_left .index_icon .index_right .top img {
  height: 90%;
  margin-right: 10px;
}
#intro .intro_inner .intro_left .index_icon .index_right .middle {
  width: 100%;
  height: 25%;
  text-align: center;
  color: #2c307c;
  font-size: 18px;
}
#intro .intro_inner .intro_left .index_icon .index_right .bottom {
  width: auto;
  height: 25%;
  text-align: center;
}
#intro .intro_inner .intro_left .index_icon .index_right .bottom p {
  font-size: 15px;
}
#intro .intro_inner .intro_center {
  width: 350px;
  height: 100%;
  position: relative;
}
#intro .intro_inner .intro_center h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 12px;
}
#intro .intro_inner .intro_center .book_slide {
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
#intro .intro_inner .intro_center .book_slide .book_slide_inner {
  width: 700px;
  height: auto;
  background-color: darkcyan;
}
#intro .intro_inner .intro_center .book_slide img {
  width: 350px;
  height: 100%;
  float: left;
}
#intro .intro_inner .intro_center .arrbox {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}
#intro .intro_inner .intro_center .arrbox .prev_1 {
  width: 55px;
  height: 55px;
  transform: scaleX(-1);
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  left: -10%;
  opacity: 0.5;
}
#intro .intro_inner .intro_center .arrbox .prev_1 img {
  width: 100%;
}
#intro .intro_inner .intro_center .arrbox .next_1 {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
  position: absolute;
  right: -10%;
  opacity: 0.5;
}
#intro .intro_inner .intro_center .arrbox .next_1 img {
  width: 100%;
}
#intro .intro_inner .intro_center .arrbox:hover {
  opacity: 1;
}
#intro .intro_inner .intro_right {
  width: 30%;
  height: 70%;
  margin-top: 55px;
}
#intro .intro_inner .intro_right .location {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #555555;
  color: #555555;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 7px 0;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s linear;
}
#intro .intro_inner .intro_right .location img {
  width: 20px;
  margin-right: 8px;
}
#intro .intro_inner .intro_right .location:hover {
  background-color: #f3f3f3;
}
#intro .intro_inner .intro_right .right_inner {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding-top: 15px;
}
#intro .intro_inner .intro_right h3 {
  font-size: 20px;
}
#intro .intro_inner .intro_right .point {
  color: #4dac27;
}
#intro .intro_inner .intro_right h4 {
  font-size: 15px;
  color: #181818;
}
#intro .intro_inner .intro_right .right_inner_event {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
}
#intro .intro_inner .intro_right .right_inner_event .popevent {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
}
#intro .intro_inner .intro_right .right_inner_event .popevent p {
  border: 1px solid #555555;
  border-radius: 5px;
  color: #555555;
  width: 70px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
#intro .intro_inner .intro_right .right_inner_event h3 {
  margin-top: 20px;
  font-size: 26px;
}
#intro .intro_inner .intro_right .right_inner_event h3 span {
  color: #4dac27;
}
#intro .intro_inner .intro_right .right_inner_event h3 .deliteline {
  color: #000;
  text-decoration: line-through;
  font-size: 17px;
  margin-left: 5px;
}
#intro .intro_inner .intro_right .check {
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
#intro .intro_inner .intro_right .check p {
  font-size: 14px;
  margin-right: 57px;
}
#intro .intro_inner .intro_right .check .bell {
  border: 1px solid #5055b1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 40px;
  width: 110px;
  color: #5055b1;
  cursor: pointer;
  transition: all linear 0.3s;
  font-size: 13px;
}
#intro .intro_inner .intro_right .check .bell img {
  margin-right: 10px;
  width: 15px;
}
#intro .intro_inner .intro_right .check .bell:hover {
  background-color: rgba(80, 85, 177, 0.0666666667);
}

#nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  z-index: 500;
}
#nav .nav_inner {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
#nav .nav_inner .tabs {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
}
#nav .nav_inner .tabs li {
  cursor: pointer;
  color: #555555;
  background-color: transparent;
}

#content {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#content .content_left {
  width: 850px;
  height: 100%;
}
#content .content_left .event {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
#content .content_left .event .headline {
  height: auto;
  display: flex;
  justify-content: space-between;
}
#content .content_left .event .headline h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
#content .content_left .event .headline p {
  font-size: 13px;
  margin-top: 5px;
  color: #575757;
  margin-right: 0px;
}
#content .content_left .event .this_event {
  width: 50%;
}
#content .content_left .event .this_event img {
  border-radius: 10px;
  width: 350px;
}
#content .content_left .event .this_event h5 {
  font-size: 18px;
}
#content .content_left .event .this_event p {
  font-size: 14px;
}
#content .content_left .book_card {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  position: relative;
  cursor: pointer;
}
#content .content_left .book_card h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
#content .content_left .book_card .card_slide {
  width: 817px;
  height: 350px;
  overflow: hidden;
}
#content .content_left .book_card .card_slide .card_slide_inner {
  width: 3500px;
  height: 350px;
  display: flex;
  justify-content: space-between;
}
#content .content_left .book_card .card_slide .card_slide_inner img {
  border-radius: 10px;
  margin-right: 20px;
}
#content .content_left .book_card .arrbox {
  width: 817px;
  height: auto;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  opacity: 1;
  cursor: pointer;
  top: 58%;
}
#content .content_left .book_card .arrbox .prev_2 {
  width: 55px;
  height: 55px;
  transform: scaleX(-1);
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  left: -30px;
  opacity: 0.5;
}
#content .content_left .book_card .arrbox .prev_2 img {
  width: 100%;
}
#content .content_left .book_card .arrbox .next_2 {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
  position: absolute;
  right: -30px;
  opacity: 0.5;
}
#content .content_left .book_card .arrbox .next_2 img {
  width: 100%;
}
#content .content_left h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
#content .content_left .together {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 320px;
  border-radius: 10px;
  background-color: #f7f7f7;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
#content .content_left .together .together_content {
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 35px;
}
#content .content_left .together .together_content .content_box {
  width: 130px;
  height: 170px;
  margin-right: 30px;
  background-color: #5055b1;
}
#content .content_left .together .together_content .content_box img {
  width: 100%;
}
#content .content_left .together .together_content .content_box h3 {
  font-size: 15px;
  margin-bottom: 0;
}
#content .content_left .together .together_content .content_box p {
  font-size: 14px;
}
#content .content_left .together .together_content .content_box span {
  font-size: 14px;
}
#content .content_left .together .together_content .content_box:last-of-type {
  margin-right: 0;
}
#content .content_left .pick {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}
#content .content_left .pick .pick_title {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
#content .content_left .pick .pick_title h1 {
  font-size: 24px;
  margin-right: 50px;
}
#content .content_left .pick .pick_title img {
  width: 100%;
}
#content .content_left .pick .pick_title .more {
  width: 80px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
#content .content_left .pick .pick_title .more h4 {
  font-size: 14px;
}
#content .content_left .pick .pick_title .more img {
  width: 8px;
  height: 8px;
  margin-left: 10px;
}
#content .content_left .pick .pick_title .more:hover {
  text-decoration: underline;
}
#content .content_left .pick .pick_title_list {
  width: 37%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #595959;
  margin-bottom: 20px;
}
#content .content_left .pick .pick_title_list li {
  background-color: #f7f7f7;
  padding: 0 15px;
  border-radius: 15px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}
#content .content_left .pick .pick_title_list li:first-of-type {
  color: black;
}
#content .content_left .pick .pick_content {
  width: 100%;
  height: 144px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
#content .content_left .pick .pick_content #list_a {
  position: absolute;
  z-index: 1;
  top: 0;
}
#content .content_left .pick .pick_content #list_b {
  display: none;
  position: absolute;
  top: 0;
}
#content .content_left .pick .pick_content #list_c {
  display: none;
  position: absolute;
  top: 0;
}
#content .content_left .pick .pick_content #list_d {
  display: none;
  position: absolute;
  top: 0;
}
#content .content_left .pick .pick_content .list {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
#content .content_left .pick .pick_content .list .box {
  width: 120px;
  height: 140px;
  background-color: wheat;
}
#content .content_left .pick .pick_content .list .box img {
  width: 100%;
  border: 1px solid #eaeaea;
}
#content .content_left .pick .pick_content .list .box h3 {
  font-size: 16px;
  word-break: keep-all;
}
#content .content_left .pick .pick_content .list .box p {
  font-size: 14px;
  color: #575757;
}
#content .content_left .intro {
  width: 100%;
  height: 175px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
}
#content .content_left .intro h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
#content .content_left .intro p {
  margin-bottom: 15px;
}
#content .content_left .intro .about {
  width: 43%;
  height: auto;
  margin-bottom: 10px;
}
#content .content_left .intro .about .about_list {
  display: flex;
  justify-content: space-between;
  color: #595959;
  font-size: 14px;
  background-color: transparent;
}
#content .content_left .intro .about .about_list li {
  cursor: pointer;
  background-color: transparent;
}
#content .content_left .intro .about .about_list li:hover {
  text-decoration: underline;
  background-color: transparent;
}
#content .content_left .intro .about:last-of-type {
  width: 50%;
}
#content .content_left .intro_two {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}
#content .content_left .intro_two p {
  margin-bottom: 15px;
}
#content .content_left .author {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#content .content_left .author h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
#content .content_left .author .author_text {
  width: 100%;
  margin-bottom: 30px;
}
#content .content_left .author .author_text .deco {
  background-color: #eaeaea;
  width: 100px;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
  color: #595959;
  font-size: 14px;
  display: inline-block;
}
#content .content_left .author .author_text .author_text_top {
  display: flex;
  align-items: center;
}
#content .content_left .author .author_text .author_text_top span {
  color: #575757;
  margin-right: 10px;
}
#content .content_left .author .author_text .author_text_top h4 {
  font-size: 18px;
}
#content .content_left .author .author_text .author_text_bottom {
  font-size: 14px;
  line-height: 23px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#content .content_left .author .author_text .author_text_bottom .thumb {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
}
#content .content_left .author .author_text .author_text_bottom .thumb img {
  width: 100%;
  margin-bottom: 45px;
}
#content .content_left .author .author_text .author_text_bottom .textbox {
  width: 690px;
}
#content .content_left .author .author_text .author_text_bottom .textbox .infor_show {
  background: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 20%;
  border: none;
  cursor: pointer;
}
#content .content_left .author .author_text .author_text_bottom .textbox .infor_show span {
  margin-right: 5px;
  text-decoration: underline;
}
#content .content_left .author .author_text .author_text_bottom .textbox .infor_show img {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
#content .content_left .author .author_text .author_text_bottom .textbox .textbox_plus {
  display: none;
  width: 95%;
  word-break: keep-all;
}
#content .content_left .author .author_content_wrap {
  width: 100%;
  overflow: hidden;
}
#content .content_left .author .author_content_wrap .author_content {
  width: 1100px;
  height: auto;
  display: flex;
  margin-bottom: 60px;
}
#content .content_left .author .author_content_wrap .author_content .content_box {
  width: auto;
  height: 170px;
  margin-right: 20px;
}
#content .content_left .author .author_content_wrap .author_content .content_box img {
  width: 100%;
}
#content .content_left .author .author_content_wrap .author_content .content_box h3 {
  font-size: 14px;
  margin-bottom: 0;
}
#content .content_left .author .author_content_wrap .author_content .content_box p {
  font-size: 14px;
}
#content .content_left .author .author_content_wrap .author_content .content_box span {
  font-size: 14px;
}
#content .content_left #index {
  margin-top: 100px;
  margin-bottom: 50px;
}
#content .content_left #index h3 {
  margin-bottom: 20px;
}
#content .content_left #index p {
  line-height: 15px;
  color: #252525;
}
#content .content_left #index_two {
  width: 95%;
  height: auto;
}
#content .content_left #index_two .textbox {
  width: 100%;
}
#content .content_left #index_two .textbox p {
  word-break: keep-all;
}
#content .content_left #index_two .textbox .infor_show {
  background: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 20%;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}
#content .content_left #index_two .textbox .infor_show span {
  margin-right: 5px;
  text-decoration: underline;
}
#content .content_left #index_two .textbox .infor_show img {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
#content .content_left #index_two .textbox .textbox_plus {
  display: none;
  width: 95%;
  word-break: keep-all;
}
#content .content_left #index_two #three {
  word-break: keep-all;
}
#content .content_left #index_three {
  width: 95%;
  height: auto;
}
#content .content_left #index_three .textbox {
  width: 100%;
}
#content .content_left #index_three .textbox p {
  word-break: keep-all;
}
#content .content_left #index_three .textbox .infor_show {
  background: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 20%;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}
#content .content_left #index_three .textbox .infor_show span {
  margin-right: 5px;
  text-decoration: underline;
}
#content .content_left #index_three .textbox .infor_show img {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
#content .content_left #index_three .textbox .textbox_plus {
  display: none;
  width: 95%;
  word-break: keep-all;
}
#content .content_left #index_three #three {
  word-break: keep-all;
}
#content .content_left .infomation {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #bebebe;
  margin-bottom: 100px;
}
#content .content_left .infomation h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #525252;
  padding-bottom: 20px;
  margin-top: 50px;
}
#content .content_left .infomation table {
  width: 80%;
  height: 350px;
  text-align: left;
  padding-bottom: 20px;
}
#content .content_left .review {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
#content .content_left .review .review_top {
  display: flex;
  justify-content: space-between;
}
#content .content_left .review .review_top h3 {
  padding-top: 7px;
}
#content .content_left .review .review_top .plus_event {
  font-size: 15px;
  margin-left: 260px;
  margin-top: 10px;
}
#content .content_left .review .review_top .review_go {
  display: flex;
  align-items: center;
  background-color: #5055b1;
  width: 105px;
  height: 45px;
  border-radius: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: all linear 0.3s;
}
#content .content_left .review .review_top .review_go h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
#content .content_left .review .review_top .review_go img {
  margin-right: 10px;
  width: 20px;
}
#content .content_left .review .review_top .review_go p {
  font-size: 14px;
  color: #fff;
  line-height: 14px;
}
#content .content_left .review .review_top .review_go:hover {
  background-color: #2c307c;
}
#content .content_left .review .review_score {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #d5d5d5;
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#content .content_left .review .review_score .score_left {
  width: 40%;
  height: 80%;
}
#content .content_left .review .review_score .score_left .score_top {
  text-align: center;
  padding-top: 25px;
}
#content .content_left .review .review_score .score_left .score_top .score_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#content .content_left .review .review_score .score_left .score_top .score_img img {
  width: 25px;
  margin-left: 5px;
}
#content .content_left .review .review_score .score_left .score_top .score_img p {
  margin-left: 10px;
}
#content .content_left .review .review_score .score_left .score_top .score_img p span {
  font-size: 20px;
  color: #4dac27;
  font-weight: 800;
}
#content .content_left .review .review_score .score_left .score_bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
#content .content_left .review .review_score .score_left .score_bottom p {
  font-size: 14px;
}
#content .content_left .review .review_score .score_left .score_bottom .score_img {
  display: flex;
  align-items: center;
}
#content .content_left .review .review_score .score_left .score_bottom .score_img img {
  width: 16px;
  margin-left: 3px;
}
#content .content_left .review .review_score .score_left .score_bottom .bar {
  width: 180px;
  height: 5px;
  border-radius: 20px;
}
#content .content_left .review .review_score .score_left .score_bottom #bar_one {
  background-color: #4dac27;
}
#content .content_left .review .review_score .score_left .score_bottom #bar_two {
  margin-left: -17px;
  background-color: #dbdbdb;
}
#content .content_left .review .review_score .score_left .score_bottom #bar_three {
  margin-left: -17px;
  background-color: #dbdbdb;
}
#content .content_left .review .review_score .score_left .score_bottom #bar_four {
  margin-left: -17px;
  background-color: #dbdbdb;
}
#content .content_left .review .review_score .dic {
  width: 1px;
  height: 80%;
  background-color: #c5c5c5;
}
#content .content_left .review .review_score .score_right {
  width: 40%;
  height: 80%;
}
#content .content_left .review .review_score .score_right .score_top {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
}
#content .content_left .review .review_score .score_right .score_top span {
  color: #5055b1;
  font-weight: bold;
}
#content .content_left .review .review_score .score_right .score_bottom {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
}
#content .content_left .review .review_score .score_right .score_bottom .level {
  width: 20%;
  height: 100%;
  position: relative;
  text-align: center;
}
#content .content_left .review .review_score .score_right .score_bottom .level .full {
  width: 10px;
  height: 50%;
  background-color: #dadada;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#content .content_left .review .review_score .score_right .score_bottom .level .mine {
  width: 10px;
  height: 15%;
  background-color: #5055b1;
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
}
#content .content_left .review .review_score .score_right .score_bottom .level .mine_two {
  width: 10px;
  height: 40%;
  background-color: #5055b1;
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
}
#content .content_left .review .review_score .score_right .score_bottom .level .mine_three {
  width: 10px;
  height: 10%;
  background-color: #5055b1;
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
}
#content .content_left .review .review_score .score_right .score_bottom .level p {
  font-size: 13px;
}
#content .content_left .review_list {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 80px;
}
#content .content_left .review_list .list_index {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #525252;
}
#content .content_left .review_list .list_index ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 20px;
  color: #767676;
}
#content .content_left .review_list .list_index ul li {
  cursor: pointer;
}
#content .content_left .review_list .list_index ul li:first-of-type {
  color: #000;
}
#content .content_left .review_list .list_index .line_bar {
  width: 90px;
  height: 3px;
  background-color: #000;
  flex: none;
  position: absolute;
  top: 78px;
}
#content .content_left .review_list .list_index #review_select {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  padding: 0 10px;
}
#content .content_left .review_list .list_content {
  width: 100%;
  height: 160px;
  padding-top: 20px;
  border-bottom: 1px solid #767676;
}
#content .content_left .review_list .list_content .content_top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#content .content_left .review_list .list_content .content_top .left_side {
  width: 48%;
  line-height: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
#content .content_left .review_list .list_content .content_top .left_side .paper {
  width: 70px;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  line-height: 30px;
  color: #fff;
  border: 1px solid transparent;
  background: #5055b1;
}
#content .content_left .review_list .list_content .content_top .left_side .after {
  width: auto;
  padding: 0 10px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #525252;
}
#content .content_left .review_list .list_content .content_top .right_side {
  width: 200px;
  height: auto;
}
#content .content_left .review_list .list_content .content_top .right_side .score_img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#content .content_left .review_list .list_content .content_top .right_side .score_img img {
  width: 20px;
  margin-right: 3px;
}
#content .content_left .review_list .list_content .content_top .right_side .score_img .thank {
  margin-left: 5px;
}
#content .content_left .review_list .list_content .content_top .right_side .score_img .thank span {
  font-size: 18px;
  color: #5055b1;
  font-weight: 600;
}
#content .content_left .review_list .list_content .content_middle {
  padding-top: 30px;
  font-size: 16px;
}
#content .content_left .review_list .list_content .content_bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#content .content_left .review_list .list_content .content_bottom img {
  width: 30px;
  margin: 0 10px;
}
#content .content_left .review_list .list_content .content_bottom p {
  color: #575757;
}
#content .content_left .adver {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}
#content .content_left .adver img {
  width: 100%;
  border-radius: 20px;
}
#content .content_left .change {
  width: 100%;
  height: auto;
}
#content .content_left .change .change_top {
  height: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #181818;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content .content_left .change .change_top .app {
  margin-left: 430px;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid #252525;
  padding-left: 15px;
  cursor: pointer;
  transition: all linear 0.3s;
}
#content .content_left .change .change_top .app:hover {
  background-color: #ececec;
}
#content .content_left .change .change_top .ask {
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: #5055b1;
  padding-left: 15px;
  color: #fff;
  cursor: pointer;
  transition: all linear 0.3s;
}
#content .content_left .change .change_top .ask:hover {
  background-color: #2c307c;
}
#content .content_left .change .change_textbox {
  padding: 40px 0;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #767676;
}
#content .content_left .change .change_textbox h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
#content .content_left .change .change_textbox p {
  color: #525252;
  line-height: 27px;
  font-size: 16px;
}
#content .content_left .change .change_textbox:last-of-type {
  border: none;
}
#content .content_left .change .change_textbox:last-of-type .add_more {
  background-color: #eeeeee;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: left;
  padding-top: 20px;
  border-radius: 20px;
  margin-top: 30px;
  padding-left: 50px;
  margin-bottom: 100px;
}
#content .content_right {
  width: 300px;
  height: auto;
}
#content .content_right .this_best {
  width: 100%;
  height: auto;
}
#content .content_right .this_best .this_best_top {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
#content .content_right .this_best .this_best_top h3 {
  font-size: 24px;
}
#content .content_right .this_best .this_best_top .more {
  display: flex;
  align-items: center;
}
#content .content_right .this_best .this_best_top .more img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
#content .content_right .this_best .best_list {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
#content .content_right .this_best .best_list .content_box {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  position: relative;
}
#content .content_right .this_best .best_list .content_box .num {
  width: 30px;
  height: 30px;
  background-color: #8a8a8a;
  color: #fff;
  position: absolute;
  left: 110px;
  top: 10px;
  text-align: center;
  border-radius: 10px 0 10px 0;
}
#content .content_right .this_best .best_list .content_box img {
  height: 100%;
  float: left;
  margin-right: 20px;
  border: 1px solid #eaeaea;
}
#content .content_right .this_best .best_list .content_box h3 {
  position: absolute;
  left: 110px;
  top: 45px;
}
#content .content_right .this_best .best_list .content_box p {
  display: block;
  position: absolute;
  left: 110px;
  top: 75px;
}
#content .content_right .this_best .best_list .content_box span {
  display: block;
  position: absolute;
  left: 150px;
  top: 100px;
}
#content .content_right .this_best .best_list .content_box .per {
  display: block;
  position: absolute;
  left: 110px;
  top: 101px;
  color: #4dac27;
  font-weight: 600;
}
#content .content_right .lang {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
#content .content_right .lang h3 {
  margin-bottom: 20px;
  font-size: 24px;
}
#content .content_right .lang .content_box {
  width: 100%;
  height: 150px;
}
#content .content_right .lang .content_box .lang_f {
  width: 100px;
  display: inline-flex;
  margin-top: 25px;
  color: #8d8d8d;
}
#content .content_right .lang .content_box h3 {
  margin-bottom: 5px;
}
#content .content_right .lang .content_box img {
  height: 100%;
  float: left;
  margin-right: 20px;
  border: 1px solid #eaeaea;
}
#content .content_right .lang .content_box .per {
  color: #4dac27;
  font-weight: 600;
}
#content .content_right .small_banner {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
#content .content_right .small_banner img {
  width: 100%;
  border-radius: 20px;
}
#content .content_right .two {
  margin-bottom: 20px;
}

#sell {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  bottom: 0;
  z-index: 80;
  position: fixed;
  border-top: 1px solid #b1b1b1;
}
#sell .sell_inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#sell .sell_inner .sell_left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
#sell .sell_inner .sell_left p {
  font-size: 20px;
  margin-right: 20px;
}
#sell .sell_inner .sell_left h3 {
  font-size: 24px;
}
#sell .sell_inner .sell_right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#sell .sell_inner .sell_right .count {
  border: 1px solid #525252;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  margin-right: 15px;
  border-radius: 10px;
}
#sell .sell_inner .sell_right .count img {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#sell .sell_inner .sell_right .count p {
  color: #000;
  font-size: 18px;
}
#sell .sell_inner .sell_right .heart {
  border: 1px solid #525252;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}
#sell .sell_inner .sell_right .heart img {
  width: 25px;
  height: 25px;
}
#sell .sell_inner .sell_right .gift {
  border: 1px solid #525252;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}
#sell .sell_inner .sell_right .gift img {
  width: 25px;
}
#sell .sell_inner .sell_right .gift p {
  font-size: 15px;
}
#sell .sell_inner .sell_right .bag {
  border: 1px solid #5055b1;
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  color: #474c98;
  cursor: pointer;
}
#sell .sell_inner .sell_right .bag:hover {
  background-color: #f0f1ff;
}
#sell .sell_inner .sell_right .one {
  margin-right: 0;
  border-radius: 10px 0 0 10px;
}
#sell .sell_inner .sell_right .two {
  margin-right: 0;
  border-radius: 0 10px 10px 0;
  background-color: #5055b1;
  color: #fff;
}
#sell .sell_inner .sell_right .two:hover {
  background-color: #2c307c;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}