@charset "utf-8";

@import "reset", "common";

@mixin headline {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
    font-weight: 700;
    color: #000000;
}

//광고 슬라이드(article)
#welcome_wrap {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 100px;

    .welcome {
        width: 100%;
        height: 600px;
        position: relative;
        top: 80px;

        .welcome_pop {
            width: 300px;
            height: 350px;
            background-color: #ffffff;
            position: absolute;
            right: 18%;
            top: -8px;
            z-index: 1;
            border-radius: 20px 0 20px 20px;
            overflow: hidden;

            .img_pop {
                width: 300px;
                height: 200px;

                background: {
                    image: url(../img/달력2_a09351ecf031496384450a8ee90abd22.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: center;
                }
            }

            .text_pop {
                width: 300px;
                height: auto;
                padding: 0px 20px;
                margin-top: 35px;

                p {
                    font-size: 14px;
                    color: #474c98;
                }

                h3 {
                    font-size: 17px;
                    margin-bottom: 10px;
                }

                span {
                    font-size: 12px;
                    color: #595959;
                }
            }
        }

        .welcome_inner {
            width: 1650px;
            height: 600px;
            position: absolute;
            right: 0;
            bottom: 0;

            .slide {
                height: 100%;

                .slide_move:first-of-type {
                    display: block;
                }

                .slide_move {
                    display: none;
                }

                h1 {
                    font-size: 40px;
                    margin-left: 150px;
                    position: absolute;
                    z-index: 1;
                }

                img {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        .welcome_control {
            width: 1200px;
            height: 70px;
            position: absolute;
            right: 0;
            bottom: 0;

            .welcome_control_list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 30px;
                width: 65%;
                height: 70px;
                border-top-left-radius: 20px;
                float: left;
                // cursor: pointer;
                background-color: rgba($color: #ffffff, $alpha: 0.9);
            }

            .welcome_control_list2 {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding-left: 30px;
                width: 5%;
                height: 70px;
                float: left;
                background-color: rgba($color: #ffffff, $alpha: 0.9);
            }

            .welcome_control_list3 {
                display: flex;
                align-items: center;
                padding-left: 20px;
                width: 30%;
                height: 70px;
                background-color: rgba($color: #ffffff, $alpha: 0.9);
                cursor: pointer;

                .prev_12{
                    width: 60px;
                    height: 60px;
                    transform: scaleX(-1);

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                .next_12{
                    width: 60px;
                    height: 60px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .welcome_marketing {
        width: 1200px;
        height: 100px;
        margin: 0 auto;
        margin-top: 150px;
        display: flex;
        justify-content: space-between;

        .marketing_list {
            width: 90px;
            height: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            span {
                font-size: 13px;
                color: #595959;
            }
        }

    }
}

//오늘의 추천책(section)
#today_wrap {
    width: 1200px;
    height: auto;
    position: relative;
    margin: 0 auto;

    margin: {
        top: 70px;
        bottom: 150px;
    }

    .today_title {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;

        h1 {
            @include headline;
            margin-right: 50px;
        }

        .today_title_list {
            width: 40%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            color: #bdbdbd;

            li:first{
                color: black;
            }
        }

        .more {
            width: 80px;
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;

            img {
                width: 10px;
                height: 10px;
                margin-left: 10px;
                border: 1px solid #eaeaea;
            }
        }

        .more:hover {
            text-decoration: underline;
        }
    }

    .prevbutton {
        width: 44px;
        height: 44px;
        position: absolute;
        left: -70px;
        top: 50%;
        border: 1px solid #ccc;
        border-radius: 30px;
        transform: scaleX(-1);
        cursor: pointer;

        background: {
            image: url(../img/btn_swiper_arr@2x.png);
            repeat: no-repeat;
            size: cover;
            position: center;
            color: #fff;
        }
    }

    .nextbutton {
        width: 44px;
        height: 44px;
        position: absolute;
        right: -70px;
        top: 50%;
        border: 1px solid #ccc;
        border-radius: 30px;
        cursor: pointer;

        background: {
            image: url(../img/btn_swiper_arr@2x.png);
            repeat: no-repeat;
            size: cover;
            position: center;
            color: #fff;
        }
    }

    .today_content {
        position: relative;
        width: 100%;
        height: 370px;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        top: 0;
        left: 0;

        .today_content_left_wrap {
            width: 600px;
            height: 300px;
            position: absolute;
            top: 10%;
            overflow: hidden;

            .today_content_left {
                width: 3600px;
                height: 100%;

                .content_box {
                    width: 600px;
                    height: auto;
                    float: left;

                    img {
                        height: 300px;
                        float: left;
                        margin-right: 30px;
                        box-shadow: 4px 4px 4px #929292;
                    }

                    h3 {
                        font-size: 20px;
                        margin-top: 30px;
                    }

                    p {
                        width: 90%;
                        font-size: 16px;
                    }

                    .author {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }

                    .per {
                        color: #2b760d;
                    }

                    .text {
                        margin-top: 10px;
                    }
                }
            }
        }

        .today_content_right_wrap {
            width: 444px;
            position: absolute;
            overflow: hidden;
            right: 0;
            top: 16%;
            height: auto;

            .today_content_right {
                position: relative;
                left: -152px;
                width: 900px;
                height: 100%;
                display: flex;
                justify-content: space-between;

                .content_box {
                    width: 140px;
                    height: auto;

                    img {
                        width: 100%;
                        border: 1px solid #eaeaea;
                    }

                    h3 {
                        font-size: 15px;
                        margin-bottom: 3px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .all {
        display: block;
    }

    .domestic {
        display: none;
    }

    .globel {
        display: none;
    }

    .ebook {
        display: none;
    }

    .sam{
        display: none;
    }

    .tracks{
        display: none;
    }

    .kb{
        display: none;
    }

}

//중간 광고(section)
#advert {
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 150px;

    img {
        border-radius: 10px;
    }
}

//급상승! 많이 보고 있는 상품
#look {
    width: 1200px;
    height: 590px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 180px;

    .look_title {
        h1 {
            @include headline;
        }
    }

    .look_slide {
        width: 100%;
        height: 510px;
        position: absolute;
        bottom: 0;

        .prevbutton {
            width: 44px;
            height: 44px;
            position: absolute;
            top: 40%;
            left: -70px;
            border: 1px solid #ccc;
            border-radius: 30px;
            transform: scaleX(-1);
            cursor: pointer;

            background: {
                image: url(../img/btn_swiper_arr@2x.png);
                repeat: no-repeat;
                size: cover;
                position: center;
                color: #fff;
            }
        }

        .nextbutton {
            width: 44px;
            height: 44px;
            position: absolute;
            top: 40%;
            right: -45px;
            border: 1px solid #ccc;
            border-radius: 30px;
            cursor: pointer;

            background: {
                image: url(../img/btn_swiper_arr@2x.png);
                repeat: no-repeat;
                size: cover;
                position: center;
                color: #fff;

            }
        }

        .look_content_wrap {
            width: 1200px;
            height: auto;
            overflow: hidden;

            .look_content {
                width: 2400px;
                height: auto;

                .content_box {
                    width: 270px;
                    margin-right: 30px;
                    float: left;
                    height: auto;

                    img {
                        width: 100%;
                        border: 1px solid #eaeaea;
                    }

                    h3 {
                        font-size: 16px;
                        word-break: keep-all;
                    }

                    p {
                        margin-top: 3px;
                        font-size: 14px;
                        color: #575757;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}

//Pick
#picks_wrap {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background: rgba($color: #00cc00, $alpha: 0.06);
    margin-bottom: 150px;
    position: relative;

    .picks_inner {
        width: 1200px;
        height: 70%;
        position: relative;
        margin: 0 auto;

        .picks_inner_headline {
            width: 100%;
            height: 75px;
            display: flex;
            justify-content: space-between;

            .more {
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                cursor: pointer;

                img {
                    width: 10px;
                    height: 10px;
                    margin-left: 10px;
                }
            }
        }

        .picks_inner_content {
            width: 100%;
            height: 320px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0;

            .picks_content_text {
                width: 25%;
                height: auto;

                span {
                    color: #3c9a17;
                }

                h3 {
                    font-size: 26px;
                    margin-top: 10px;
                    margin-bottom: 40px;
                }

                h4 {
                    background-color: #3c9a17;
                    text-align: center;
                    width: 80%;
                    padding: 20px;
                    border-radius: 10px;
                    cursor: pointer;

                    a {
                        color: #fff;
                    }
                }

                h4:hover {
                    background-color: #2b760d;
                }
            }

            .picks_content_list {
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .picks_content_list_box {
                    width: 200px;
                    height: 300px;
                    border-radius: 10px;
                    overflow: hidden;
                    background-color: #fff;
                    border: 1px solid #eaeaea;

                    img {
                        width: 100%;
                    }

                    h4 {
                        font-size: 14px;
                        text-align: center;
                        margin-bottom: 3px;
                        margin-top: 10px;

                    }

                    p {
                        font-size: 14px;
                        text-align: center;
                    }
                }

            }
        }
    }

}

//week
#week {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 150px;
    position: relative;

    h1 {
        @include headline;
        margin-bottom: 30px;
    }

    .week_content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .week_box {
            width: 18%;

            img {
                width: 100%;
                border: 1px solid #eaeaea;
            }

            h3 {
                font-size: 16px;
                word-break: keep-all;
            }

            p {
                margin-top: 3px;
                font-size: 14px;
                color: #575757;
                margin-bottom: 3px;
            }
        }
    }
}

//hit
#hit {
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 150px;

    .hit_left {
        width: 25%;
        height: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .hit_textbox {
            width: 100%;
            height: 60%;
            position: absolute;
            top: 0;
            display: flex;
            flex-wrap: wrap;

            h1 {
                @include headline;
            }

            .more {
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;

                img {
                    width: 10px;
                    height: 10px;
                    margin-left: 10px;
                }
            }
        }

        .hit_control {
            height: auto;
            display: flex;
            align-items: flex-end;

            .prev_control {
                width: 55px;
                height: 55px;
                transform: scaleX(-1);
                background-color: #fff;
                border: 1px solid #eaeaea;
                border-radius: 50px;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }

            .next_control {
                width: 55px;
                height: 55px;
                background-color: #fff;
                border: 1px solid #eaeaea;
                border-radius: 50px;
                margin-left: 20px;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }
        }
    }

    .hit_right {
        width: 840px;
        overflow: hidden;
        height: auto;

        .hit_img_wrap {
            width: 100%;

            .hit_img_inner {
                width: 1720px;
                height: auto;

                .hit_img {
                    width: 270px;
                    height: 270px;
                    overflow: hidden;
                    margin-right: 10px;
                    cursor: pointer;
                    float: left;
                    position: relative;
                    transition: all linear 0.3s;

                    img {
                        transition: all linear 0.3s;
                        width: 100%;
                        border-radius: 150px;
                    }

                    .hit_text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        text-align: center;
                        color: #fff;
                        transform: translate(-50%, -50%);
                        display: none;
                        z-index: 5;

                        h3 {
                            font-size: 17px;
                        }

                        p {
                            font-size: 16px;
                        }

                        span {
                            color: #00cc00;
                        }
                    }
                }

                .hit_img:hover .hit_text {
                    display: block;
                }

                .hit_img:hover img {
                    filter: brightness(50%);
                }

            }
        }
    }
}

//best&steady
#bs_wrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 150px;
    // background-color: palegoldenrod;

    .bs_top {
        width: 100%;
        height: 70px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        // background-color: palegreen;

        .bs_headline {
            width: 60%;
            position: relative;
            display: flex;
            align-items: center;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                li {
                    line-height: 20px;
                    color: #000;
                }

                .bold {
                    font-size: 30px;
                    font-weight: 600;
                    color: #bdbdbd;
                }

                .bold:first-of-type:before {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: 2px;
                    height: 13px;
                    background: #eaeaea;
                    left: 98px;
                    top: 35px;
                }
            }
        }

        .more {
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                width: 15px;
                height: 15px;
                margin-left: 10px;
            }
        }
    }

    .bs_bottom {
        width: 100%;
        height: 750px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;

        #list_a {
            position: absolute;
            z-index: 1;
            top: 0;
        }

        #list_b {
            display: none;
            position: absolute;
            top: 0;
        }

        .list {
            width: 100%;
            height: 800px;
            margin: 0 auto;
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            .box {
                width: 210px;
                height: auto;
                // background-color: wheat;
                margin: 0 20px;

                img {
                    width: 100%;
                    border: 1px solid #eaeaea;
                }

                h3 {
                    font-size: 16px;
                    word-break: keep-all;
                }

                p {
                    font-size: 14px;
                    color: #575757;
                }
            }
        }
    }
}

//big wide
#big_wide_wrap {
    width: 1200px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 150px;

    .big_wide_inner {
        width: 3600px;
        height: 150px;
        float: left;
        margin: 0 auto;
        margin-bottom: 150px;

        img {
            border-radius: 10px;
        }
    }
}

//casting
.casting_big_wrap {
    width: 100%;
    height: 1000px;
    height: auto;


    #casting_wrap {
        width: 100%;
        height: 500px;
        margin-bottom: 200px;
        position: relative;
        background: {
            repeat: no-repeat;
            size: cover;
            position: center;
            image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)) , url(../img/fhc0ymth.jpg);
        }

        .casting_inner {
            width: 1200px;
            height: 350px;
            position: absolute;
            top:0;
            left: 50%;
            transform: translate(-50%,0);
            padding-top: 50px;

            .casting_inner_headline {
                width: 100%;
                height: 75px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    height: 60px;
                }

                .more {
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    cursor: pointer;
                    color: white;

                    img {
                        width: 10px;
                        height: 10px;
                        margin-left: 10px;
                    }
                }
            }

            .casting_inner_content {
                width: 30%;
                height: auto;
                position: absolute;
                bottom: -50px;

                .casting_content_text {
                    height: 250px;
                    color: white;

                    h3 {
                        font-size: 25px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 16px;
                        margin-bottom: 70px;

                        span {
                            color: #bdbdbd;
                        }
                    }

                    .casting_control {
                        height: auto;
                        display: flex;
                        align-items: flex-end;

                        .prev_control {
                            width: 55px;
                            height: 55px;
                            transform: scaleX(-1);
                            border: 1px solid #eaeaea;
                            border-radius: 50px;
                            cursor: pointer;

                            img {
                                width: 100%;
                            }
                        }

                        .next_control {
                            width: 55px;
                            height: 55px;
                            border: 1px solid #eaeaea;
                            border-radius: 50px;
                            margin-left: 20px;
                            cursor: pointer;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .casting_inner_thumb {
                position: absolute;
                right: 0;
                width: 680px;
                height: 400px;
                border-radius: 20px;
                top: 50%;

                background: {
                    image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) , url(../img/fhc0ymth.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: center;
                }

                .video_icon {
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;

                    background: {
                        image: url(../img/ico_video_play_w70@2x.png);
                        repeat: no-repeat;
                        size: cover;
                        position: center;
                    }
                }
            }
        }

        #casting_one{
            display: block;
        }
    
        #casting_two{
            display: none;
        }
    
        #casting_three{
            display: none;
        }
    }
}

//교보 오리지널
#origin {
    width: 1200px;
    height: 520px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 180px;

    .origin_title {

        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            @include headline;
        }

        .more {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;

            img {
                width: 10px;
                height: 10px;
                margin-left: 10px;
            }
        }
    }

    .origin_slide {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;

        .prevbutton {
            width: 44px;
            height: 44px;
            position: absolute;
            top: 40%;
            left: -70px;
            border: 1px solid #ccc;
            border-radius: 30px;
            transform: scaleX(-1);
            cursor: pointer;

            background: {
                image: url(../img/btn_swiper_arr@2x.png);
                repeat: no-repeat;
                size: cover;
                position: center;
                color: #fff;
            }
        }

        .nextbutton {
            width: 44px;
            height: 44px;
            position: absolute;
            top: 40%;
            right: -45px;
            border: 1px solid #ccc;
            border-radius: 30px;
            cursor: pointer;

            background: {
                image: url(../img/btn_swiper_arr@2x.png);
                repeat: no-repeat;
                size: cover;
                position: center;
                color: #fff;

            }
        }

        .origin_wrap {
            width: 1200px;
            height: auto;
            overflow: hidden;

            .origin_content {
                width: 2400px;
                height: auto;

                .content_box {
                    width: 270px;
                    margin-right: 30px;
                    float: left;
                    height: auto;

                    img {
                        width: 100%;
                        border: 1px solid #eaeaea;
                    }

                    h3 {
                        font-size: 16px;
                        word-break: keep-all;
                    }

                    p {
                        margin-top: 3px;
                        font-size: 14px;
                        color: #575757;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}